.keyboard-btn {
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 2px 4px;
	box-shadow: 2px 2px 3px #666;
	margin-right: 5px;
}

.label-Affirm { background: #f75; color: #fff; }
.label-Neutral { background: #888; color: #fff; }
.label-Deny { background: #06c; color: #fff;}

.label-Uncertainty { background: #fad; color: #000;}
.label-Ambiguity { background: #afd; color: #000;}
.label-Implicit { background: #adf; color: #000;}

.code.label.label-Unrelated { background: #fff; border: 1px solid #888; color: #888;}
.code.label.label-Uncodeable { background: #fff; border: 1px solid #866; color: #866;}


.EmbeddedTweet .EmbeddedTweet-acestor { opacity: 0.8; }
.EmbeddedTweet .EmbeddedTweet-tweet { box-shadow: 0px 0px 0px 5px #c80 inset; }



.success { color: green; }
.fail { color: red; font-weight: bold; font-size: 125%;}
span.spinner { display: inline-block; margin: 0px 10px; width: 16px; height: 16px; position: relative;}
